---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <section class="section">
      <h1>Welcome to My Portfolio</h1>
      <p>This is the home page of my portfolio website.</p>
      <p>
        No, your browser isn't broken, it is supposed to be this minimalistic.
        Everything in the web feels so bloated...
      </p>
    </section>
  </main>
</Layout>
